/* -------------------------
    RESET
--------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------
    DEBUG
--------------------------*/
.debug .row div{
    border: 1px dashed black;
}

/* -------------------------
    GENERAL
--------------------------*/
.container{
    max-width: 1160px;
    margin: 0 auto;
}

.container-small{
    max-width: 880px;
}

.row{
    display: flex;
}

.col{
    padding: 0 10px;
}

ul{
    list-style: none;
    color: white;
}

li{
    padding-right: 20px;
    cursor: pointer;
}

.box{
    border-radius: 20px;
    padding: 20px;
}

img{
    max-width: 100%;
}

/* -------------------------
    TYPOGRAPHY
--------------------------*/
body {
    font-family: "PT Sans", sans-serif;
}

h5{
    font-size: 20px;
}

h4{
    font-size: 30px;
}

h3{
    font-size: 40px;
}

h2{
    font-size: 50px;
}

h1{
    font-size: 80px;
    color: #FDC15F;
    padding-bottom: 20px;
}

.italic{
    font-style: italic;
}

.color-white{
    color: white;
}

.txt-center{
    text-align: center;
}

p{
    line-height: 30px;
}

.txt-upper{
    text-transform: uppercase;
}

.color-purple{
    color: #9792E4;
}


.color-gray{
    color: #546675;
}
/* -------------------------
    UTILITY
--------------------------*/
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.grow{
    flex-grow: 1;
}

.margin-100{
    margin: 100px 0;
}

.circle{
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.bg-purple{
    background-color: #9792E4;
}

.bg-white{
    background-color: white;
}

.position-r{
    position: relative;
}

.position-a{
    position: absolute;
}

/* -------------------------
    BUTTON
--------------------------*/
.btn{
    background-color: transparent;
    border: #0084FD;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0;
}

.btn-primary{
    background-color: white;
    padding: 8px 14px;
    margin: 0;
}

.btn-secondary{
    padding: 8px 50px;
    background-color: #0084FD;
    color: white;
}

.btn-tertiary{
    background-color: #9792E4;
    padding: 6px 40px;
    
}

.btn.btn-secondary i{
    color: white;
    font-size: 16px;
    padding-right: 8px;
}

.btn-dot{
    background-color: #9792E4;
    padding: 10px 14px;
    border-radius: 50%;
}

/* -------------------------
    HEADER
--------------------------*/
header{
    background-color: #0084FD;
}

header .row{
    justify-content: space-between;
    align-items: center;
}

header .logo{
    padding: 16px 0;
}

header .btn-primary{
    margin-top: -12px;
}

nav{
    margin-right: -20px;
}

.hamburger{
    display: none;
    color: white;
    font-size: 22px;
}
/* -------------------------
    MAIN
--------------------------*/
/* section intro */
.intro .container{
    padding-top: 40px;
    padding-bottom: 100px;
}

.intro .col{
    width: calc(100% / 3);
    margin-top: 20px;
}

.intro img{
    display: block;
    max-width: 250px;
}

.intro .row{
    margin-left: -10px;
    margin-right: -10px;
}

.intro .box{
    background-color: #B5DDFF;
    font-size: 14px;
    color: #546675;
    height: 100%;
}

.intro .box.flex{
    padding: 20px;
    padding-bottom: 0;
}

.intro i{
    font-size: 70px;
    color: #0084FD;
}

.intro h5{
    color: #0084FD;
    margin: 20px auto; 
}

.intro .box.flex h5{
    margin-top: 0;
}

/* section planning */
.planning{
    padding-bottom: 60px;
}

.planning .col{
    width: 50%;
}

.planning  .row .col:last-child{
    text-align: center;
    padding: 0 40px;
}

.planning .box{
    background-color: white;   
}

.planning .col.flex{
    align-items: end;
}

.planning img:last-child{
    max-width: 250px;
}

.planning h4{
    margin: 30px 0;
}

.planning h5{
    margin-bottom: 20px;
}
/* section testimonials */
.testimonials{
    padding-bottom: 70px;
}

.testimonials .txt-upper{
    margin-top: 40px;
}

.testimonials h3{
    margin: 30px 0;
}

.testimonials .col:first-child{
    width: 20%;
    min-height: 140px;
    min-width: 200px;
}

.testimonials .col:last-child{
    padding: 30px;
    width: 80%;
}

.testimonials .row{
    border-radius: 40px;
    background-color: #9792E4;
    margin-top: 30px;
    padding: 30px;
    align-items: center;
}

.testimonial-1{
    background-image: url(img/testimonial1.jpg);
}

.testimonial-2{
    background-image: url(img/testimonial2.jpg);
}

.testimonial-3{
    background-image: url(img/testimonial3.jpg);
}
/* section benefits */
.benefits{
    padding-top: 40px;
    padding-bottom: 30px;
}
.benefits h3{
    margin-bottom: 40px;
}

.benefits .col{
    margin: 10px 0;
    width: calc(100% / 3);
}

.benefits h5{
    margin-bottom: 20px;
}

/* section about us */
.about-us .container{
    padding: 0 50px;
}

.about-us h5{
    padding: 20px 0;
    font-size: 24px ;
    line-height: 1.5;
}

.about-us{
    padding: 80px 0;
}

.about-us .row{
    justify-content: space-between;
}

.about-us .row .col:first-child{
    width: 60%;
}

.about-us .row .col:last-child{
    width: 20%;
}

.about-us p{
    line-height: 2.5;
    padding-top: 40px;
}

.about{
    background-image: url(img/about.jpg);
}

.about-us .btn-tertiary{
    padding: 6px 10px;
}

.about-us i.position-a{
    top: -10px;
    right: -6px;
    font-size: 70px;
}

/* section try */
.try .txt-upper{
    color: #D0CEF2;
}

.try{
    padding: 50px;
}

.try .container{
    max-width: 560px;
}

.try p{
    padding: 0 60px;
}

.try button{
    padding: 20px 60px;
    border-radius: 50px;
    margin: 30px 0;
}

/* -------------------------
    FOOTER
--------------------------*/
footer{
    background-color: #333333;
    padding: 40px 0;
}

footer .container{
    max-width: 500px;
    line-height: normal;
}

footer p{
    line-height: normal;
}

footer .container div{
    padding: 70px 40px;
    padding-bottom: 0;
}
/* -------------------------
    RESPONSIVE
--------------------------*/
/* header */
@media screen and (max-width: 992px){
    nav{
        display: none;
    }

    .hamburger{
        display: block;
    }
    
    .header .container{
        width: 100%;
        padding: 0 30px;
    }
}

/* section intro */
@media screen and (max-width: 992px){
    .intro .box.flex{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 768px){
    .intro .row{
        flex-direction: column;
    }

    .intro .col{
        width: 100%;
    }
}

/* section planning */

@media screen and (max-width: 992px){
    .planning .row{
        flex-direction: column;
    }

    .planning .col{
        width: 100%;
        margin-bottom: 20px;
    }

    .planning h4{
        font-size: 70px;
    }
}

@media screen and (max-width: 768px){
    .planning .row .col:last-child{
        padding:0 ;
    }

    .planning h4{
        font-size: 32px;
    }
}

/* section testimonials */

@media screen and (max-width: 768px){
    .testimonials .row {
        flex-direction: column;
    }

    .testimonials .col{
        width: 100%;
        padding: 10px 0 !important;
        text-align: center;
    }
}
/* section benefits */
@media screen and (max-width: 992px){
    .benefits .col{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    .benefits .col{
        width: 100%;
    }
}

/* section about us */
@media screen and (max-width: 992px){
    .about-us .row .col:last-child{
        width: 30%;
    }
}

@media screen and (max-width: 768px){
    .about-us .row{
        flex-direction: column;
    }

    .about-us p{
        margin-bottom: 20px;
    }

    .about-us .row .col:first-child{
        width: 100%;
    }
    
    .about-us .row .col:last-child{
        width: 100%;
    }
}

/* section try */
@media screen and (max-width: 768px){
    .try h1{
        font-size: 60px;
    }

    .try h2{
        font-size: 30px;
        padding: 20px 0;
    }

    .try p{
        padding: 0;
    }
}

/* footer */
@media screen and (max-width: 768px){
    footer .container div{
    padding: 70px 20px;
    padding-bottom: 0;
}
}